#contain{
  margin-left: 10px;
  margin-top: 5px;
  display:inline-block;
  width:75px;
  vertical-align:top;
}
#chart {
  margin-left: 20px;
  display:inline-block;
  width:900px;
  height:700px;
  margin-top: 30px;
  vertical-align:top;
  visibility :hidden;
}

#chart rect{
  fill: #16a085;
}

#chart text{
  fill: black;
  font: 8px sans-serif;
  text-anchor: end; 
}

#chart .x.axis text { 
  font: 10px Roboto;
  transform: translate(-10px,34px) rotate(-25deg);
}
#chart .y.axis text { 
  font: 12px Roboto;
}

.axis text{
  font-style: bold;
  font: 18px Roboto;
}

.axis path, .axis line{
  fill: black;
  stroke : black;
  stroke-width: 2;
  shape-rendering: crispEdges;
}
#chart rect:hover {
  fill: #34495e ;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
div.tooltip { 
  line-height: 110%;
  position: absolute;     
  text-align: center; 
  width: 400px;         
  height: 140px; 
  padding-top: 10px; 
  left:750px;
  top:110px;
  font: 18px Roboto;    
  background: #34495e;  
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  color:white;
}
 #pie {
  margin-left: 110px;
  margin-top: -150px;
  display:inline-block;
  position:relative;
  width:800px;
  height: 800px;
  vertical-align:top;
 }
 .slice text {
  font-size: 10pt;
  font-family: Roboto;
 }
 .d3-tip1 {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
div.tooltip1 {   
    line-height: 110%;
    position: absolute;     
    text-align: center; 
    width: 400px;         
    height: 140px; 
    padding-top: 10px; 
    left:750px;
    top:110px;
    font: 18px Roboto;    
    background: #34495e;;  
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;
  color:white;
}   
.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}
#containForm {
  position: absolute;
  top:65px;
  left:300px;
  visibility:hidden;
}
@media only screen and (min-width: 1880px) {
  #pie {
    margin-left: 55px;
    margin-top: 41px !important;
  }
}