 .row {
  padding-top:50px;
  padding-left: 50px;
  padding-right: 50px;
  height: 300px;
 }
#button_container {
  display:flex;
  justify-content:center;
}
 #prva_sl {
  height: 200px;
 }
 #buttons {
  align-self:center;
  display: none;
 }
 .btn-default.active{
  background-color: #34495e;
  border-color: #2c3e50;
  color:#ecf0f1;
 }
 .btn-default.active:hover{
  background-color: #4E6378;
  border-color: #34495e;
  color:#ecf0f1;
 }