.main-container{
	margin-top:20px;
}
#map-container{
	margin-left: 20px;
	width: 1415px;
	height: 712px;
}
#map-container:active{
	cursor:move;
}
#right-container{
}
div.tooltip { 
  line-height: 120%;
  position: absolute;     
  text-align: center; 
  width: 350px;         
  height: 130px; 
  padding-top: 10px; 
  left:1480px;
  top:200px;
  font: 18px Roboto;    
  background: #34495e;  
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  color:#ecf0f1;
  opacity: 1;
}